<div class="card bg-dark text-white">
 <div class="img"> <img src="assets/images/imageneshome.jpg" class="card-img" alt="imageninicio" ></div>
  <div class="card-img-overlay">
    <div class="row" align="center" justify="center">
      <div class="col">
        <h1 class="h1home">
          <b> Musical Hendrix</b>
        </h1>
        <h3 class="h2home">
          Musical Hendrix es una tienda de instrumentos musicales con ya más de 15 años de experiencia.
          Tenemos el conocimiento y la capacidad como para informarte acerca de las mejores elecciones para tu compra
          musical.
        </h3>

        <h4 style="text-align: center" color="black" routerLinkActive="active">
          <button class="btn btn-outline-danger btn-block" [routerLink]="['/tarjetainstrumento']">
            Nuestros Productos
          </button>
        </h4><br>

        <dondeestamos></dondeestamos>
      </div>
    </div>
  </div>
</div>